       <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="/css/userProfile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  var json=<%- userinfo %>

</script>

  </head>
  <body>
    <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" id="profileimage"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 id="profile-name">
                                       Vikash Kumar
                                    </h5>
                                    <h6 id='profile-profession'>
                                        Web Developer and Designer
                                    </h6>
                                    <h6 id='profile-location'>
                                        India,Bihar
                                    </h6>
                                    <p class="proile-rating"></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="name">username</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="email">@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="phone">9089809890</p>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="gender">Male</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                           <div class="col-md-6">
                                               <label id="change">Working Location</label>
                                           </div>
                                           <div class="col-md-6">
                                               <p id="city">Cuttack</p>
                                           </div>
                                       </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p id="prop">Web Developer and Designer</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
       var jsonobj;
      if(typeof(json)!=='undefined'){ if(typeof(json)==='string')
       {
         jsonobj =JSON.parse(json);
       }
       if(typeof(json)==='object')
       {
        jsonobj=json;
       }}
      if(typeof(jsonobj)!=='undefined')
      {
        $("#profileimage").attr('src',jsonobj.profile);
        if(jsonobj.type==='teacher')
        {
            $('#profile-name').text(jsonobj.name);
            $('#name').text(jsonobj.name);
            if(jsonobj.city!==null &&jsonobj.city!=='' && typeof(jsonobj.city)!=='undefined')
            {
                $('#profile-location').text(jsonobj.city);

            }
            else
            {
              $('#profile-location').css('display', 'none');

            }
            if(jsonobj.working!==null && jsonobj.working!=='' && typeof(jsonobj.working)!=='undefined')
            {
              $('#city').text(jsonobj.working);
            }
            else
            {
              $('#city').text('none');
            }
            $('#profile-profession').text('Teacher');
            $('#email').text(jsonobj.email);
            if(jsonobj.phone!==null && jsonobj.phone!=='' && typeof(jsonobj.phone)!=='undefined')
            {
              $('#phone').text(jsonobj.phone);
            }
            else
            {
              $('#phone').text('none');
            }
            if(jsonobj.gender!==null && jsonobj.gender!=='' && typeof(jsonobj.gender)!=='undefined')
            {
              $('#gender').text(jsonobj.gender);
            }
            else
            {
              $('#gender').text(jsonobj.gender);
            }
            $('#prop').text('Teacher');
        }
        else if(jsonobj.type==='student')
        {
          $('#change').text('School');
          $('#profile-name').text(jsonobj.name);
          $('#name').text(jsonobj.name);
          if(jsonobj.city!==null &&jsonobj.city!=='' && typeof(jsonobj.city)!=='undefined')
          {
              $('#profile-location').text(jsonobj.city);

          }
          else
          {
            $('#profile-location').css('display', 'none');

          }
          if(jsonobj.working!==null && jsonobj.working!=='' && typeof(jsonobj.working)!=='undefined')
          {
            $('#city').text(jsonobj.working);
          }
          else
          {
            $('#city').text('none');
          }
          $('#profile-profession').text('Student');
          $('#email').text(jsonobj.email);

          if(jsonobj.phone!==null && jsonobj.phone!=='' && typeof(jsonobj.phone)!=='undefined')
          {
            $('#phone').text(jsonobj.phone);
          }
          else
          {
            $('#phone').text('none');
          }
          if(jsonobj.gender!==null && jsonobj.gender!=='' && typeof(jsonobj.gender)!=='undefined')
          {
            $('#gender').text(jsonobj.gender);
          }
          else
          {
            $('#gender').text('none');
          }
          $('#prop').text('Student');
        }
      }
        </script>
  </body>
</html>
